In [1]:
import pandas as pd
import geopandas as gpd
import datetime as dt
import re

In [20]:
crashes = pd.read_csv('./crashes_from_2020.csv')

In [21]:
crashes.sample(5)

,Unnamed: 0,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,hour
33028,33028,11/20/2022,1900-01-01 15:00:00,MANHATTAN,10033.0,40.847996,-73.93470,"(40.847996, -73.9347)",WEST 179 STREET,SAINT NICHOLAS AVENUE,...,NaN,NaN,NaN,4584137,Moped,NaN,NaN,NaN,NaN,15
28993,28993,07/25/2022,1900-01-01 12:19:00,MANHATTAN,10011.0,40.744022,-74.00847,"(40.744022, -74.00847)",WEST 16 STREET,11 AVENUE,...,NaN,NaN,NaN,4550083,Station Wagon/Sport Utility Vehicle,Box Truck,NaN,NaN,NaN,12
9083,9083,10/25/2020,1900-01-01 13:05:00,MANHATTAN,10022.0,40.759163,-73.97675,"(40.759163, -73.97675)",EAST 51 STREET,5 AVENUE,...,NaN,NaN,NaN,4361148,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN,13
15738,15738,06/28/2021,1900-01-01 11:44:00,MANHATTAN,10016.0,40.748363,-73.98041,"(40.748363, -73.98041)",EAST 36 STREET,PARK AVENUE,...,NaN,NaN,NaN,4431950,Sedan,Sedan,NaN,NaN,NaN,11
28138,28138,06/29/2022,1900-01-01 17:21:00,MANHATTAN,10027.0,40.813553,-73.95521,"(40.813553, -73.95521)",WEST 126 STREET,WEST 127 STREET,...,NaN,NaN,NaN,4551045,Bike,NaN,NaN,NaN,NaN,17

In [22]:
crashes.sample(5).transpose()

,6177,459,14299,29310,21352
Unnamed: 0,6177,459,14299,29310,21352
CRASH DATE,07/16/2020,01/12/2020,05/19/2021,08/02/2022,12/02/2021
CRASH TIME,1900-01-01 01:50:00,1900-01-01 12:02:00,1900-01-01 16:12:00,1900-01-01 13:00:00,1900-01-01 09:09:00
BOROUGH,MANHATTAN,MANHATTAN,MANHATTAN,MANHATTAN,MANHATTAN
ZIP CODE,10019.0,10001.0,10002.0,10011.0,10025.0
LATITUDE,40.764053,40.74664,40.71829,40.74281,40.79465
LONGITUDE,-73.99225,-73.991974,-73.987434,-73.99659,-73.97179
LOCATION,"(40.764053, -73.99225)","(40.74664, -73.991974)","(40.71829, -73.987434)","(40.74281, -73.99659)","(40.79465, -73.97179)"
ON STREET NAME,WEST 49 STREET,NaN,DELANCEY STREET,WEST 21 STREET,WEST 96 STREET
CROSS STREET NAME,10 AVENUE,NaN,NORFOLK STREET,7 AVENUE,BROADWAY
OFF STREET NAME,NaN,150 WEST 28 STREET,NaN,NaN,NaN
NUMBER OF PERSONS INJURED,0,0,0,0,0
NUMBER OF PERSONS KILLED,0,0,0,0,0
NUMBER OF PEDESTRIANS INJURED,0,0,0,0,0
NUMBER OF PEDESTRIANS KILLED,0,0,0,0,0
CONTRIBUTING FACTOR VEHICLE 1,Unsafe Lane Changing,Unspecified,Unspecified,Unspecified,Turning Improperly
CONTRIBUTING FACTOR VEHICLE 2,Following Too Closely,NaN,NaN,Unspecified,Unspecified
CONTRIBUTING FACTOR VEHICLE 3,NaN,NaN,NaN,NaN,NaN
CONTRIBUTING FACTOR VEHICLE 4,NaN,NaN,NaN,NaN,NaN
CONTRIBUTING FACTOR VEHICLE 5,NaN,NaN,NaN,NaN,NaN
COLLISION_ID,4329224,4272043,4418709,4556038,4483243
VEHICLE TYPE CODE 1,Sedan,Station Wagon/Sport Utility Vehicle,Sedan,Sedan,Sedan
VEHICLE TYPE CODE 2,Sedan,NaN,NaN,Station Wagon/Sport Utility Vehicle,Sedan
VEHICLE TYPE CODE 3,NaN,NaN,NaN,NaN,NaN
VEHICLE TYPE CODE 4,NaN,NaN,NaN,NaN,NaN
VEHICLE TYPE CODE 5,NaN,NaN,NaN,NaN,NaN
hour,1,12,16,13,9

In [24]:
#only export columns that we need
crashes[['CRASH DATE','hour',
         'LATITUDE','LONGITUDE',
         'NUMBER OF PERSONS INJURED',
         'NUMBER OF PERSONS KILLED',
         'NUMBER OF PEDESTRIANS INJURED',
         'NUMBER OF PEDESTRIANS KILLED',
         'CONTRIBUTING FACTOR VEHICLE 1',
         'CONTRIBUTING FACTOR VEHICLE 2',
         'CONTRIBUTING FACTOR VEHICLE 3']].to_csv('crashes_2020_08_2023.csv', index = False)

In [2]:
crossing_posts = gpd.read_file('./crossing_locations.geo.json')

In [3]:
re.findall('([-]?\d+.\d+)','POINT (-73.92184 40.86527)')

['-73.92184', '40.86527']

In [5]:
crossing_posts[['LONGITUDE','LATITUDE']] = crossing_posts['geometry'].apply(
    lambda x: pd.Series(re.findall(r'([-]?\d+.\d+)', str(x)))
)

crossing_posts[[
    'POST #',
    'SCHOOL NAME',
    'LAST NAME',
    'STREET NAME 1',
    'STREET NAME 2',
    'AM HOURS',
    'PM HOURS',
    'LONGITUDE',
    'LATITUDE'
]].to_csv('crossing_posts.csv', index = False)