In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
data = pd.read_csv('./Crashes_2020.csv')
data.head(3)

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,01/02/2020,10:10,MANHATTAN,10022.0,40.759740,-73.97423,"(40.75974, -73.97423)",EAST 53 STREET,MADISON AVENUE,NaN,...,Other Vehicular,NaN,NaN,NaN,4268253,Sedan,Sedan,NaN,NaN,NaN
1,01/02/2020,13:00,MANHATTAN,10018.0,40.753550,-73.98505,"(40.75355, -73.98505)",AVENUE OF THE AMERICAS,WEST 40 STREET,NaN,...,NaN,NaN,NaN,NaN,4268974,Bus,NaN,NaN,NaN,NaN
2,01/02/2020,9:10,MANHATTAN,10036.0,40.757935,-73.98557,"(40.757935, -73.98557)",7 AVENUE,WEST 45 STREET,NaN,...,Passing or Lane Usage Improper,NaN,NaN,NaN,4268257,Bus,Taxi,NaN,NaN,NaN

In [3]:
data['CRASH TIME'] = pd.to_datetime(data['CRASH TIME'], format="%H:%M")
data["hour"] = data['CRASH TIME'].dt.hour

In [4]:
data.to_csv("./crashes_2020.csv")